html,body{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,input,textarea,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit}
table{border-collapse:collapse;border-spacing:0}
td{height:90px; vertical-align:middle; text-align:center}
ol,ul{list-style:none}
q:before,q:after,blockquote:before,blockquote:after{content:""}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:focus{outline:thin dotted}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0;-ms-interpolation-mode:bicubic}
nav,section,aside,article,figure,header,footer,hgroup{display:block;clear:both}
a{text-decoration:none}
li.slide i,li.slide em{font-style:italic}
li.slide i b,li.slide em b,li.slide i strong,li.slide em strong,li.slide i a,li.slide em a{font-style:italic}
li.slide b,li.slide strong{font-weight:bold}
li.slide b i,li.slide strong i,li.slide b em,li.slide strong em,li.slide b a,li.slide strong a{font-weight:bold}
nav ul,footer ul{list-style-type:none}
html{font-size:16px;line-height:1}


@font-face {
    font-family: 'Terminal Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://themes.googleusercontent.com/static/fonts/terminaldosis/v5/_IcvjW_kWHsIHjjUsLbdpLgyVwiGa0mHGEwuDt4msjE.woff) format('woff');
}

img.main {
    border-radius: 50%;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  #facebook { display: none; }
  .mobile-hide{ display: none; }
}